/*DEVELOPER: Fahad Ali, IS117-005, Fall , 2023 */
.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.nav-item {
    display: flex;
  }
  .dot {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    background: linear-gradient(135deg, #665dcd 0%, #5fa4e6 44.76%, #d2ab67 100%);
    display: inline-block;
    border-radius: 50%;
  }
  
.topbar {
    padding: 200px;
    background-color: black;
    color: white;
    height: 40vh;
    margin-left: 100px;
    margin-top: 10px;
}

.bottombar {
    display: flex;
    height: 53vh;
    margin-left: 100px;
}

.left {
    background-color: white;
    color: black;
    width: 60%;
    padding-top: 250px;
    padding-left: 200px;
}

.right {
    background-color: #ceab65;
    width: 40%;
    padding: 40px;
}

.right:hover {
    color: aliceblue;
    background-color: black;
}

.right h3 {
    margin-left: 20px;
    text-align: left;
}

.par {
    color: black;
    font-weight: bold;
    text-align: left;
}

.body h1 {
    margin-bottom: 2px;
    color: #ceab65;
    margin-left: 100px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #dadada;
    padding: 10px;
    font-size: 0.75rem;
}

.container-2 {
    display: flex;
    border-color: white;
    justify-content: space-evenly;
}

.item-1 {
    font-size: 20px;
}

.terms-privacy {
    display: flex;
    justify-content: space-evenly;
}

.item-3 {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    filter: invert(1);
}

img {
    padding: 5px;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
    .body {
        height: auto;
    }

    .topbar {
        padding: 100px;
        margin-left: 20px;
    }

    .bottombar {
        flex-direction: column;
        margin-left: 20px;
    }

    .left {
        width: 100%;
        padding-left: 20px;
    }

    .right {
        width: 100%;
        padding: 20px;
    }

    .footer {
        padding: 5px;
    }
}
