
body {
    background-color: black;
}
.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #dadada;
    height: 100vh;
    overflow: hidden;
    
}
h1, h2 { 
    color: #ceab65;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
button {
    padding: 10px;
    background: linear-gradient(-30deg,#9a8357 0%, #42403d 65% , #a51818 40%);
    border-radius: 10%;
}
button a {
    text-decoration: none;
    color: #dadada;
}

.container-2 {
    display: flex;
    border-color: white;
    justify-content:space-evenly;
}
.item-1 {
    font-size: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #dadada;
    padding: 10px;
    font-size: 0.75rem;
}
