/* styles.css */

/* Additional styling for the card deck */
.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Additional styling for the cards */
.card {
  width: 45%; /* Adjust the width as needed */
  margin: 10px; /* Adjust the margin as needed */
  background-color: #141619;
  border: 1px solid #2c3035;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #2c3035;
}

/* ... (other existing styles) ... */

/* Additional styling for the navbar */
.navbar {
  background-color: #2c3035;
}

.nav-item {
  display: flex;
}
.dot {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  background: linear-gradient(135deg, #665dcd 0%, #5fa4e6 44.76%, #d2ab67 100%);
  display: inline-block;
  border-radius: 50%;
}

/* Additional styling for container-1 */
.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #dadada;
  height: 100vh;
  overflow: hidden;
  background-color: #141619;
}

h1, h2 {
  color: #ceab65;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, p {
  padding-bottom: 40px;
}

p {
  color: #e5e5e5;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.button_div {
  margin-top: 15px;
  width: 100%;
  height: 93px;
  background: linear-gradient(180deg, #141619 80%, rgba(20, 22, 25, 0.00) 100%);
}

button {
  margin-top: 15px;
  padding: 10px;
  border-radius: 2px;
  background: linear-gradient(135deg, #F20606 0%, #3B3B3B 44.76%, #D2AB67 100%);
  border-radius: 5%;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: #dadada;
}

button a:hover {
  color: #ad6d6d;
}

/* Additional styling for footer */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #141619;
  color: #dadada;
  padding: 10px;
  font-size: 0.75rem;
}

/* Additional styling for container-2 */
.container-2 {
  display: flex;
  border-color: white;
  justify-content: space-evenly;
}

.item-1 {
  font-size: 20px;
}

.terms-privacy {
  display: flex;
  justify-content: space-evenly;
}

.item-3 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  filter: invert(1);
}

img {
  padding: 5px;
}
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  color: white;
}
