.a {
    color:#ceab65;
}

body {
  background-color: black;
}

.container-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #dadada;
  height: 100vh;
  overflow: hidden;
}
h1,
h2 {
  color: #ceab65;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2,
p {
  padding-bottom: 40px;
}
p {
  color: #e5e5e5;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
button {
  padding: 10px;
  background: linear-gradient(
    -30deg,
    #9a8357 0%,
    #42403d 60%,
    #ad6d6d 5%,
    #a51818 35%
  );
  border-radius: 5%;
}
button a {
  text-decoration: none;
  color: #dadada;
}
button a:hover {
    color:#ad6d6d;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: #dadada;
    padding: 10px;
    font-size: 0.75rem;
  }

.container-2 {
  display: flex;
  border-color: white;
  justify-content: space-evenly;
}
.item-1 {
  font-size: 20px;
}

.item-3 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  filter: invert(1);
}
img{
    padding: 5px;
}
